body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("media/bgbody.jpg");
}
h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px auto 0 auto;
  padding: 10px 0 0 0;
  text-align: center;
  color: yellowgreen;
}

h3 {
  font-weight: 300;
  font-style: italic;
  font-size: 25px;
  line-height: 2;
  color: yellowgreen;
  margin: 0 auto;
}

footer,
a {
  font-size: 16px;
  color: whitesmoke;
  font-weight: lighter;
  padding: 40px 0px 0px 0px;
  margin: auto;
  text-align: center;
}

.weatherbox {
  margin: 10% auto;
  max-width: 800px;
  padding: 30px 20px 25px 20px;
  border-radius: 10px;
  border: 1px solid #14709e;
  top: 50%;
  left: 50%;
  background-color: #14709e;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.todaydescription {
  font-weight: 300;
  font-size: 20px;
  text-transform: capitalize;
  color: whitesmoke;
}

.todayDetails {
  font-weight: 300;
  font-size: 20px;
  text-align: right;
  line-height: 1.25;
  margin: 10px;
  padding: 0;
  color: whitesmoke;
}

.cfBox {
  vertical-align: top;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  padding: 0;
}

.fiveDay {
  margin: 0 15px 0 10px;
  text-align: center;
  color: whitesmoke;
}

.days {
  margin: 0 15px 0 15px;
  text-align: center;
  font-weight: bolder;
  color: whitesmoke;
}

.today {
  font-weight: 600;
  font-size: 35px;
  margin: 0;
  color: whitesmoke;
  padding: 0;
}

.fiveDayIcon {
  text-align: center;
}

.tempLow {
  font-weight: lighter;
  font-style: italic;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  text-align: right;
  color: whitesmoke;
}

.forecastDay {
  font-weight: bolder;
  font-style: italic;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  color: whitesmoke;
}

.tempHigh {
  font-weight: bolder;
  font-style: italic;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: whitesmoke;
}

.currentSearch {
  margin: 20px, auto;
  text-align: right;
}
